header{
    background-color: #242320;
    color: rgb(255,255,255);
    border-bottom-left-radius: 5px;
    border: 1px solid #f17c04;
    border-bottom-right-radius: 5px;
    padding: 14px;
}
.subtitle{
    font-size: 14px;
    font-weight: 500;
    color: #f0e3ca;
    margin-left: 22px;
}
.flex-container{
    display: flex;
    margin-top: 3rem;
    justify-content: center;
}
input{
    background-color: #242320;
    color: #a79e8d;
    border: 1px solid #f17c04;
    padding-left: 2rem;
    padding-top: 7px;
    padding-bottom: 6px;
    border-radius: 4px;
    margin-top: 7px;
    width: 20rem;
}
.add{
    background-color: transparent;
    height: 66px;
    font-size: 54px;
    width: 71px;
    border-radius: 8px;
    padding-top: -18px;
    border: 2px solid #f17c04;
    color: #f17c04;
    margin-top: 6px;
}
.add:hover{
    background-color: #1f1e1b;
}
.input-container{
    margin-right: 6px;
}
.title{
    font-size: 23px;
    font-weight: 500;
    margin-left: 22px;
}
.alertBar{
    width: 19%;
    text-align: center;
    background-color: #1b1a17;
    position: absolute;
    top: 16rem;
    left: 27rem;
    padding: 1rem;
    border-top: 4px solid #f17c04;
    border-radius: 2px;
}
.yesButtn{
    margin-right: 1rem;
    padding: 0 1rem;
    border: 1px solid #A35709;
    background-color: #1f1e1b;
    color: #f0e3ca;
    height: 22px;
}
.noButtn{
    padding: 0 1rem;
    border: 1px solid #A35709;
    background-color: #1f1e1b;
    color: #f0e3ca;
    height: 22px;
}
.task-container{
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: space-around;
    height: 4.5rem;
    border: 1px solid #A35709;
    border-radius: 6px;
}
.edit{
    margin-right: 10px;
    background-color: #1B1A17;
    width: 34px;
    height: 34px;
    border-radius: 6px;
    border: 1px solid #A35709;
}
.edit:hover{
    background-color: #ff8303;
}
.delete{
    background-color: #1B1A17;
    width: 34px;
    height: 34px;
    border-radius: 6px;
    border: 1px solid #A35709;
    color: #A35709;
}
.delete:hover{
    background-color: #1f1e1b;
}
.no-task{
    text-align: center;
}
.todo-list{
    border: 1px solid #A35709;
    height: 17rem;
    margin: 2rem;
    color: #F0E3CA;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 6px;
    background-color: #1f1e1b;
}
.i-button{
    background-color: transparent;
    color: #F0E3CA;
    width: 34px;
    height: 34px;
    border-radius: 6px;
    border: 1px solid #A35709;
}
.delete:hover{
    background-color: #1f1e1b;
}
.fa-pencil{
    color: #F0E3CA;
}
.todo-title{
    font-size: 2rem;
    color: #F0E3CA;
}
.task-button{
    margin-top: -1rem;
    margin-right: -2rem;
}
.update{
    background-color: transparent;
    height: 66px;
    font-size: 15px;
    width: 71px;
    border-radius: 8px;
    padding-top: -18px;
    border: 1px solid #f17c04;
    color: #ffff;
    margin-top: 6px;
    padding: 1px;
}
.border-top{
    width: 39px;
    height: 1px;
    border-bottom: 2px solid #f17c04;
    padding: 2px;
    margin-left: 10px;
}
.border-bottom{
    width: 39px;
    height: 1px;
    border-bottom: 2px solid #f17c04;
    padding: 2px;
    margin-left: 10px;
}
